<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head'); %>
</head>

<body>
    <!--header börjar -->
    <header>
        <%- include('../partials/header'); %>
    </header>
    <!--header slut -->

    <!--About us- Alan-George-->
    <div class="aboutus-background">
        <div class="aboutus-container">
            <div class="aboutus">
                <div class="aboutus-body">
                    <h3 class="about-heading">About Us</h3>

                    <p> We are a group of four guys who started our own  retail watches company website. We sell watches from well known famous companies like Omega and Rolex. Our stock include everyday watches to Formal Special Edition watches. Our store is located in Borlänge Sweden and we ship worldwide. We are always trying to get in the best and most wanted watches so be sure to follow
                        us on instagram and facebook to be updated with all news.</p>
                   <!-- <img class="map" src="bilder/map.png" alt="map">--><iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7861.87482052616!2d15.4101798!3d60.4869948!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x749c3742378bbfa7!2sH%C3%B6gskolan%20Dalarna!5e0!3m2!1ssv!2sse!4v1646054389898!5m2!1ssv!2sse" width="310" height="235" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <button class="home-button" onclick="window.location.href = '/';">Home</button>
                </div>
            </div>

        </div>
    </div>
    <!--About us-Alab-George -->

<!--footer börjar -->
<footer>
    <%- include('../partials/footer'); %>
</footer>
<!--footer slut -->
</body>

</html>