<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Admin Panel</title>
</head>

<body>


    <body class="bg-dark">

        <div id="app">
            <div class="container bg-light rounded p-5 mt-5">
                <center>
                    <h2> Welcome {{session.userName}}
                    </h2>
                </center>
                <form action="/logout" method="GET">
                    <button class="btn float-right text-light" style="background-color: red;" type="submit"
                        onclick="signOut();">Log Out</button>
                </form>
                <button class="btn btn-primary" onclick="window.location.href='/public/admin';">Manage Users</button>
                <button class="btn btn-primary" onclick="window.location.href='/public/adminproducts';">Manage
                    Products</button>
                <button class="btn btn-primary" onclick="window.location.href='/';">Back</button>
                <!-- User Table Start -->
                <p>Here you can add, update or remove users behaving out of terms of service.</p>
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal"> Add User
                </button><br><br>

                <table class="table-striped justify-content-center container-fluid">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">username</th>
                            <th scope="col">firstName</th>
                            <th scope="col">lastName</th>
                            <th scope="col">adress</th>
                            <th scope="col">Role</th>
                            <th scope="col">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in users" v-bind:key="user.userID">
                            <th scope="row">#{{ user.userID }}</th>
                            <td>{{ user.userName }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.adress }}</td>
                            <td>{{ user.role }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#updateUserModal" v-on:click="showUserInUpdateForm(user.userID)">
                                    User
                                </button>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#manageUserOrderModal" v-on:click="manageUserOrdersModal(user.userID)">
                                    Orders
                                </button>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#manageUserReviewModal"
                                    v-on:click="manageUserReviewsModal(user.userID)">
                                    Reviews
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- User Table End -->


                <!-- Update User Modal Start -->
                <div class="modal fade" id="updateUserModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Update User</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formUpdate">
                                    <div class="form-group">
                                        <label for="userID">ID</label>
                                        <input type="text" class="form-control" name="updateUserID" id="updateUserID"
                                            readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" name="updateUsername"
                                            id="updateUsername">
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName">Firstname</label>
                                        <input type="text" class="form-control" name="updateFirstName"
                                            id="updateFirstName">
                                    </div>

                                    <div class="form-group">
                                        <label for="lastName">Lastname</label>
                                        <input type="text" class="form-control" name="updateLastName"
                                            id="updateLastName">
                                    </div>

                                    <div class="form-group">
                                        <label for="adress">Adress</label>
                                        <input type="text" class="form-control" name="updateAdress" id="updateAdress">
                                    </div>


                                    <div class="form-group">
                                        <label for="password">password</label>
                                        <input type="text" class="form-control" name="updatePassword"
                                            id="updatePassword">
                                    </div>

                                    <div class="form-group">
                                        <label for="role">Role</label>
                                        <input type="text" class="form-control" name="updateRole" id="updateRole"
                                            readonly>
                                    </div>

                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger float-right" data-dismiss="modal"
                                            v-on:click="deleteUser">Delete</button>
                                        <input type="button" class="btn btn-primary float-right" value="Update"
                                            v-on:click="updateUser" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Update User Modal End -->


                <!-- Manage User ORDER Modal Start -->
                <div class="modal fade" id="manageUserOrderModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Update User Orders</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formUpdate">
                                    <table class="table-striped justify-content-center container-fluid">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="order in orders" v-bind:key="order.orderID">
                                                <th scope="row">{{ order.orderID }}</th>
                                                <td>{{ order.orderStatus }}</td>
                                                <td>{{ order.orderDate }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#updateUserOrderModal"
                                                        v-on:click="showUserOrderInUpdateForm(order.orderID)">
                                                        View
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Manage User ORDER Modal End -->

                <!-- Add USER Modal Start -->
                <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add User</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form id="formAdd">
                                    <div class="form-group">
                                        <label for="username">username</label>
                                        <input type="text" class="form-control" id="addUsername">

                                    </div>
                                    <div class="form-group">
                                        <label for="Password">Password</label>
                                        <input type="text" class="form-control" id="addPassword"
                                            aria-describedby="passwordHelpBlock">
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName">Firstname</label>
                                        <input type="text" class="form-control" id="addFirstName">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName">Lastname</label>
                                        <input type="text" class="form-control" id="addLastName">
                                    </div>
                                    <div class="form-group">
                                        <label for="adress">Adress</label>
                                        <input type="text" class="form-control" id="addAdress">
                                    </div>
                                    <div class="form-group">
                                        <label for="role">Role</label>
                                        <select class="form-control" id="addRole">
                                            <option>Admin</option>
                                            <option>Customer</option>
                                        </select>
                                    </div>

                                    <button type="button" class="btn btn-secondary float-right"
                                        data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary float-right" v-on:click="addUser">Add
                                        User</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add USER Modal End -->


                <!-- Manage User REVIEW Modal Start -->
                <div class="modal fade" id="manageUserReviewModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Update User Review</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formUpdate">
                                    <table class="table-striped justify-content-center container-fluid">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                
                                                <th scope="col">Comment</th>
                                                <th scope="col">Rating</th>
                                                <th scope="col">View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="review in reviews" v-bind:key="review.userID">
                                                <th scope="row">#{{ review.reviewID }}</th>
                                               
                                                <td>{{ review.reviewComment }}</td>
                                                <td>{{ review.rating }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#updateUserReviewModal"
                                                        v-on:click="showReviewInUpdateForm(review.reviewID)">
                                                        View
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Manage User REVIEW Modal End -->

                <!--  UPDATE USER ORDER Modal Start -->
                <div class="modal fade" id="updateUserOrderModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Update User Order</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formUpdate">
                                    <div class="form-group">
                                        <label for="userOrderID">ID</label>
                                        <input type="text" class="form-control" name="updateUserOrderID"
                                            id="updateUserOrderID" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="userOrderID">CustomerID</label>
                                        <input type="text" class="form-control" name="updateCustomerID"
                                            id="updateCustomerID" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="Status">Status</label>
                                        <select class="form-control" id="updateOrderStatus">
                                            <option>Delivered</option>
                                            <option>Undelivered</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger float-right" data-dismiss="modal"
                                            v-on:click="deleteOrder">Delete</button>
                                        <input type="button" class="btn btn-primary float-right" value="Update"
                                            v-on:click="updateUserOrder" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  UPDATE USER ORDER Modal END -->

                <!--  UPDATE USER REVIEW Modal Start -->
                <div class="modal fade" id="updateUserReviewModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Update User Review</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formUpdate">
                                    <div class="form-group">
                                        <label for="userReviewID">ID</label>
                                        <input type="text" class="form-control" name="updateUserReviewID"
                                            id="updateUserReviewID" readonly>
                                    </div>

                          

                                    <div class="form-group">
                                        <label for="Comment">Comment</label>
                                        <input type="text" class="form-control" name="updateReviewComment"
                                            id="updateReviewComment">
                                    </div>

                                    <div class="form-group">
                                        <label for="Rating">Rating</label>
                                        <select class="form-control" id="updateReviewRating">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger float-right" data-dismiss="modal"
                                            v-on:click="deleteReview">Delete</button>
                                        <input type="button" class="btn btn-primary float-right" value="Update"
                                            v-on:click="updateUserReview" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  UPDATE USER REVIEW Modal END -->

            </div>
        </div>


        <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- Script Start -->
        <script>
            const vm = new Vue({
                el: "#app",
                data: {
                    users: [],
                    orders: [],
                    products: [],
                    reviews: [],
                    session: {},
                },

                methods: {

                    manageUserReviewsModal(userID) {
                        $.ajax({
                            url: '/review/user/' + userID,
                            type: 'GET',
                            success: (reviews) => {
                                var self = this;
                                self.reviews = reviews
                                /*console.log(reviews)*/
                            }
                        });
                        $('#manageUserReviewModal').modal('show');
                    },

                    manageUserOrdersModal(userID) {
                        $.ajax({
                            url: '/order/user/' + userID,
                            type: 'GET',
                            success: (orders) => {
                                var self = this;
                                self.orders = orders

                            }
                        });
                        $('#manageUserOrderModal').modal('show');
                    },

                    showUserOrderInUpdateForm(orderID) {
                        $.ajax({
                            url: '/order/' + orderID,
                            type: 'GET',
                            success: (order) => {
                                console.log(order)
                                $('#updateUserOrderID').val(order.orderID);
                                $('#updateOrderStatus').val(order.orderStatus);
                                $('#updateCustomerID').val(order.customerID)
                            }
                        });
                        $('#updateUserOrderModal').modal('show');
                    },

                    showUserInUpdateForm(userID) {
                        $.ajax({
                            url: '/user/' + userID,
                            type: 'GET',
                            success: (user) => {
                                $('#updateUserID').val(user.userID);
                                $('#updateUsername').val(user.userName);
                                $('#updateFirstName').val(user.firstName);
                                $('#updateLastName').val(user.lastName);
                                $('#updateRole').val(user.role);
                                $('#updateAdress').val(user.adress);
                            }
                        });
                        $('#updateUserModal').modal('show');
                    },

                    showReviewInUpdateForm(reviewID) {
                        $.ajax({
                            url: "/review/" + reviewID,
                            type: "GET",
                            success: (review) => {
                                console.log(review)
                                $('#updateUserReviewID').val(review.reviewID);
                                $('#updateReviewTitle').val(review.reviewTitle);
                                $('#updateReviewComment').val(review.reviewComment);
                                $('#updateReviewRating').val(review.rating);
                            }
                        });
                        $('#updateUserReviewModal').modal('show');
                    },


                    //update User
                    updateUser() {
                        var user = {
                            userName: $('#updateUserModal #updateUsername').val(),
                            firstName: $('#updateUserModal #updateFirstName').val(),
                            lastName: $('#updateUserModal #updateLastName').val(),
                            password: $('#updateUserModal #updatePassword').val(),
                            adress: $('#updateUserModal #updateAdress').val(),
                            userID: $('#updateUserModal #updateUserID').val(),
                            role: $('#updateUserModal #updateRole').val()
                        };
                        $.ajax({
                            url: '/user/' + user.userID,
                            type: 'PUT',
                            contentType: 'application/json',
                            data: JSON.stringify(user),
                            success: () => {
                                var self = this;
                                $.getJSON('/customer/users/', function (jsondata) {
                                    self.users = jsondata;
                                });
                                $('#updateUserModal').modal('hide');
                            },
                        });
                    },

                    deleteUser() {
                        var user = {
                            userID: $('#updateUserModal #updateUserID').val()
                        }
                        $.ajax({
                            url: '/user/' + user.userID,
                            type: 'DELETE',
                            success: () => {
                                var self = this;
                                $.getJSON("/customer/users/", function (jsondata) {
                                    self.users = jsondata;
                                    $('updateUserModal').modal('hide');
                                });

                            },
                        });
                    },

                    addUser() {
                        var user = {
                            userName: $('#addUsername').val(),
                            password: $('#addPassword').val(),
                            firstName: $('#addFirstName').val(),
                            lastName: $('#addLastName').val(),
                            adress: $('#addAdress').val(),
                            role: $('#addRole').val()
                        }
                        console.log(user)

                        $.ajax({
                            url: '/user/',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(user),
                            processData: false,
                            success: () => {
                                var self = this;
                                $.getJSON("/customer/users/", function (jsondata) {
                                    self.users = jsondata;
                                    $('#addUserModal').empty();
                                    $('#addUserModal').modal('hide');

                                });
                            }

                        });

                    },
                    //ORDER
                    updateUserOrder() {
                        var order = {
                            orderStatus: $('#updateUserOrderModal #updateOrderStatus').val(),
                        };
                        var orderInfo = {
                            orderID: $('#updateUserOrderModal #updateUserOrderID').val(),
                            userID: $('#updateUserOrderModal #updateCustomerID').val()
                        }
                        $.ajax({
                            url: '/order/' + orderInfo.orderID,
                            type: 'PUT',
                            contentType: 'application/json',
                            data: JSON.stringify(order),
                            success: () => {
                                var self = this;
                                $.getJSON('/order/user/' + orderInfo.userID, function (jsondata) {
                                    self.orders = jsondata;
                                });
                                $('#manageUserOrderModal').modal('hide');
                                window.location.reload()
                            },
                        });
                    },

                    deleteOrder() {
                        var order = {
                            orderID: $('#updateUserOrderModal #updateUserOrderID').val(),
                            userID: $('#updateUserOrderModal #updateCustomerID').val()
                        }

                        $.ajax({
                            url: "/order/" + order.orderID,
                            type: 'DELETE',
                            success: () => {
                                $.getJSON("/order/user/" + order.userID, function (jsondata) {
                                    self.orders = jsondata;
                                    $('#manageUserOrderModal').modal('hide');
                                });
                            }
                        });

                    },
                    //REVIEW
                    updateUserReview() {
                        var review = {
                            reviewTitle: $('#updateUserReviewModal #updateReviewTitle').val(),
                            reviewComment: $('#updateUserReviewModal #updateReviewComment').val(),
                            rating: $('#updateUserReviewModal #updateReviewRating').val(),
                            reviewID: $('#updateUserReviewModal #updateUserReviewID').val()
                        };

                        $.ajax({
                            url: '/review/' + review.reviewID,
                            type: 'PUT',
                            contentType: 'application/json',
                            data: JSON.stringify(review),
                            success: () => {
                                var self = this;
                                $.getJSON('/review/user/' + review.userID, function (jsondata) {
                                    self.reviews = jsondata;
                                });
                                $('#manageUserReviewModal').modal('hide');
                                window.location.reload()
                            },
                        });
                    },

                    deleteReview() {
                        var review = {
                            reviewID: $('#updateUserReviewModal #updateUserReviewID').val(),

                        }

                        $.ajax({
                            url: "/review/" + review.reviewID,
                            type: 'DELETE',
                            success: () => {
                                $.getJSON("/review/user/" + review.userID, function (jsondata) {
                                    self.reviews = jsondata;
                                    $('#manageUserReviewModal').modal('hide');
                                });
                            }
                        });

                    },

                    showProductInUpdateForm(productID) {
                        $.ajax({
                            url: '/product/' + productID,
                            type: 'GET',
                            success: (product) => {
                                $('#updateProductName').val(product.productName);
                                $('#updateProductDescription').val(product.description);
                                $('#updateProductPrice').val(product.price);
                                $('#updateProductCategory').val(product.categoryID);
                                $('#updateProductID').val(product.productID);
                            }
                        });
                        $('#updateProductModal').modal('show');
                    },

                    //update prducts
                    updateProduct() {
                        var product = {
                            productName: $('#updateProductModal #updateProductName').val(),
                            description: $('#updateProductModal #updateProductDescription').val(),
                            price: $('#updateProductModal #updateProductPrice').val(),
                            productID: $('#updateProductModal #updateProductID').val(),
                            categoryID: $('#updateProductModal #updateCategoryID').val()
                        };
                        $.ajax({
                            url: '/product/' + product.productID,
                            type: 'PUT',
                            contentType: 'application/json',
                            data: JSON.stringify(product),
                            success: () => {
                                var self = this;
                                $.getJSON('/products/', function (jsondata) {
                                    self.products = jsondata;
                                });
                                $('#updateProductModal').modal('hide');
                            },
                        });
                    },

                    deleteProduct() {
                        var product = {
                            productID: $('#updateProductModal #updateProductID').val()
                        }
                        $.ajax({
                            url: '/product/' + product.productID,
                            type: 'DELETE',
                            success: () => {
                                var self = this;
                                $.getJSON("/products/", function (jsondata) {
                                    self.products = jsondata;
                                    $('updateProductModal').modal('hide');
                                });

                            },
                        });
                    },

                    addProduct() {

                        var product = {
                            productName: $('#addProductName').val(),
                            description: $('#addDescription').val(),
                            price: $('#addPrice').val(),
                            categoryID: $('#addCategoryID').val()
                        }

                        $.ajax({
                            url: '/product/',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(product),
                            processData: false,
                            success: () => {
                                var self = this;
                                $.getJSON("/products/", function (jsondata) {
                                    self.products = jsondata;
                                    $('#addProductModal').empty();
                                    $('#addProductModal').modal('hide');

                                });
                            }

                        });

                    },



                },
                mounted() {
                    var self = this;

                    $.getJSON("/customer/users", function (jsondata) {
                        self.users = jsondata;
                    });
                    $.getJSON("/products/", function (jsondata) {
                        self.products = jsondata;
                    });
                    $.getJSON("/session/info", function (jsondata) {
                        self.session = jsondata.user
                        console.log(jsondata.user)
                    });


                },

            });
        </script>
        <!-- Script End -->

        <script>
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    alert("You have been signed out successfully");
                    $(".data").css("display", "none");
                    $(".g-signin2").css("display", "block");
                });
            }

        </script>
    </body>

</html>