  <!--footer börjar-->

  <p style="text-align:right; font-size: 50px; padding-right: 30px;"><a href="#" class="cd-top text-replace js-cd-top"><i class="fas fa-angle-double-up"></i></a></p>
  <footer class=" footer-distributed ">
    <div class="footer-left">
        <img src="/upload/logo.png" alt="logo">
        <!--om vi ska ha logo-->
        <h3>About<span> 4WATCHES</span></h3>
        <p class="footer-links ">
            <a href="/public/home">Home</a> |
            <a href="/public/products">Products</a> |
            <a href="/public/about-us">About Us</a>

        </p>
    </div>
    <div class="footer-center ">
        <div>
            <i class="fa fa-map-marker "></i>
            <p><span>Röda vägen 3</span> 781 70 Borlänge</p>
        </div>
        <div>
            <i class="fa fa-phone "></i>
            <p>+46 704055414</p>
        </div>
        <div>
            <i class="fa fa-envelope "></i>
            <p><a href="mailto:h19yazsh@du.se">4WATCHES@hotmail.com</a></p>
        </div>
    </div>
    <div class="footer-right ">
        <p class="footer-company-about ">
            <span>Follow us on </span>
        </p>
        <div class="footer-icons ">
            <a href="https://www.facebook.com/" target="_blank "><i class="fab fa-facebook-square "></i></a>
            <a href="https://www.instagram.com/" target="_blank "><i
                    class="fab fa-instagram "></i></a>
            <a href="https://www.snapchat.com/l/sv-se/ " target="_blank "><i class="fab fa-snapchat-square "></i></a>
            <a href="https://twitter.com/?lang=en " target="_blank "><i class="fab fa-twitter-square "></i></a>

        </div>
    </div>

</footer>

<script>
   var offset = 300, // browser window scroll (in pixels) after which the "back to top" link is shown
  offsetOpacity = 1200, //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
  scrollDuration = 700;
    </script>
<!--footer slut-->